<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat Da Burger</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css" />

</head>
<body>
    <div class="jumbotron">
        <h1>Welcome to Burger World</h1>
        <h2>where burgers are created and eaten</h2>
    </div>

{{{ body }}}

    <input class="input" type="text" name="burgername">
    <br>
    <button class="create-btn" >Created Burger</button>
</body>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/index.js"></script>
</html>