<br><br>
<div>
    <div class="col-2">
        <h3 class="list-header">Burgers</h3>
        <ul id="burgers">
            {{#each readyToEat}}
            <li class="text-left-align">{{this.name}} <button name="devour button" value ="{{this.id}}" class="devour-btn">devour it</button> </li>
            {{/each}}
        </ul>
    </div>
    <div class="col-2">
        <h3 class="list-header">Devoured Burgers</h3>
        <ul id="devoured_burgers">
            {{#each devoured}}
            <li class="text-right-align">{{this.name}} </li>
            {{/each}}        
        </ul>
    </div>
</div>

<br><br>